:where(.notification) {
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  margin-block: 1rem;
  display: none;
}

.notification.success {
  border: 1px solid green;
  display: block;
}

.notification.error {
  border: 1px solid red;
  display: block;
}

details > summary,
details > summary:first-of-type {
  all: unset;
  display: block;
}

details {
  border: 1px solid gray;
  padding: 0.7rem 0.5rem;
  margin-block: 0.5rem;
}

details > * {
  line-height: 120%;
  margin: 0;
}
